/* CSS Document */

#gmxx { width:800px; margin:15px 0 0 0; color:#666666; }
span .ProductUrl a:link
{
	text-decoration: none;
	color: #666666;
}
span .ProductUrl a:visited
{
	text-decoration: none;
	color: #666666;
}
span .ProductUrl a:hover
{
	text-decoration:underline;
	color: #a10000;
}

a:link
{
text-decoration: none;
color: #333;
}
a:visited
{
text-decoration: none;
color: #333;
}
a:hover
{
text-decoration:underline;
color: #a10000;
}
.reusableColor1{ color:#333333;}
.reusableColor2{ color:#666666;}
.reusableColor3{ color:#999999;}
.reusableColor4{ color:#a10000;}
.reusableColor5{ color:#ffffff;}

.shoppingstepcontrol{color:#a10000; font-weight:bold;}
.editpadding{margin-left:437px;  font-weight:normal;}
.editpadding_{margin-left:424;  font-weight:normal;}
#gmxx table{color:#666666; }
#gmxx .ProductUrl{color:#666666; }
#gmxx h1{ }
#Label_Addressee{ font-size:12px;}
#Label_Addressee h2,h3,h4,h5,h6{ font-size:12px;}
.bxSty{padding:1px;margin:auto;margin-top:17px;} 

.bxSty td{padding:5px 0 5px 0;}
.bxSty1{color:#666666;padding:1px; margin-top:17px;*margin-bottom:-8px;} 

.bxSty1 td{padding:5px 0 5px 0;}
.bxSty2{ padding:1px; width:585px; float:left; margin-bottom:15px;}
.bxSty3{margin-top:30px; padding-bottom:10px; clear:both; display:none;}
.bxSty4{padding:1px;color:#666666; margin-top:17px;*margin-bottom:-18px;} 
.bxSty4 td{padding:5px 0px 5px 0px;}
.bxSty4tdB{margin-right:10px;}
.bxSty5{border:1px solid #dcdfe5;padding:1px;color:#666666; margin-top:17px;*margin-bottom:-8px;} 
.bxSty5 td{padding:5px 0 5px 0;}ýý 
.xxSty01{ padding-left:16px;padding-top:16px;} 
.xxSty02{ padding-left:16px!important; padding-left:20px; margin-top:6px;}
 .psAdd{ padding-left:60px; margin:25px 0 60px 0;_margin:25px 0 40px 0;}

.psAdd li{ list-style:none; clear:left; text-align:left; height:21px;}
 
.psAdd li p{ float:left; margin:0;}
.psAdd li .pSty01{ width:106px; padding-top:4px !important; padding-top:5px;} 
.psAdd li .pSty02{ width:630px; text-align:left;}
.psAdd input{border:1px solid #a5afc3;padding:3px ;}

select{ height:19px;}

.buttonSty{ margin-left:260px;margin-top:8px;}

.fontSty{ line-height:22px;}
.fontSty02{font-size:14px; padding-top:20px; padding-left:14px; padding-bottom:10px;}
.fontSty03{font-size:14px; color:#a10000; line-height:27px;}
.fontSty04{color:#a10000; padding-top:10px; padding-left:5px; padding-bottom:10px;}

/* ýýýuý· end */
/* ýýýwý½ begin */
 
.Paymentclass{margin-left:23px;*margin-left:7px; margin-top:6px;*margin-top:3px;}
.psFs{ width:645px;  padding:30px;}
.psFs li{list-style:none; margin:0px 0 22px 0;}
   
.psFs1{width:705px;text-align:left; margin:0 0 33px 0;} 
.psFs1 li{ list-style:none; margin:0 0 15px 58px;_margin:0 0 15px 53px;} 
.psFs2{ width:755px;padding-top:20px;}
.psFs2 li{ list-style:none; margin:0px 0 20px 75px;}
.psFs3{ width:655px;  padding:0px 22px 13px 22px;*padding:0px 22px 9px 22px; }
.psFs3 li{ list-style:none; margin:0px 0 15px 55px;}
 
.inputSty{border:none; line-height:0; height:0px !important; height:16px; }
.imgSty{ margin-left:90px; vertical-align:middle;}
.textSty{text-align:center;  padding-top:19px; padding-bottom:25px;}
.icbc{width:558px;  margin:15px 0 10px 75px;*margin:15px 0 0 20px; line-height:16px;} 
 
.textSty01{background-color:#e6eaf3; line-height:24px;padding:4px 68px 3px 10px;}
.textSty02{line-height:24px; padding:8px 0 3px 5px;} 
.titleSty{ margin:20px 20px 13px 20px;}

.textStytime{padding:19px 0 9px 245px;*padding-bottom:26px;}
 
.textStydtype{padding-top:19px;padding-bottom:0px;padding-left:218px;} 
 .titleSty h2{ font-size:14px; margin:0; border-bottom:1px solid #dcdfe5; padding-bottom:10px; padding-left:10px;} 
.h2new{ font-size:14px; margin:0; border-bottom:1px solid #dcdfe5;padding-top:20px; padding-bottom:10px; padding-left:10px;}
.titleSty .h20{margin-top:30px;}

.titleSty h3{ padding-left:10px; line-height:24px; border-bottom:1px solid #dcdfe5; padding-bottom:10px; margin:10px 0;}
.titleSty h4{ padding-left:10px; line-height:24px; margin:10px 0; padding-bottom:1px; }
.h4new{ padding-left:10px;padding-top:5px;padding-bottom:8px;}

.modiSty{margin-left:630px;}
.modiSty02{margin-left:504px;}
.modiSty03{margin-left:546px;}

.modiSty04{margin-left:346px;}
.modiSty05{margin-left:146px;}
.modiSty06{margin-left:200px;}
.modiSty07{margin-left:100px;}

.righSty{width:200px; float:right;}
.righSty .preCard{ border:1px solid #dcdfe5;}
.righSty .preCard02{ border:1px solid #dcdfe5; height:160px; margin-top:10px;}
.righSty .preCard03{ border:1px solid #dcdfe5; height:163px; margin-top:10px;}
.preCardC{ width:168px;  padding:10px 15px 5px 15px; height:140px;}
.preCardC h5{ color:#999999; margin:0px;}
.preCardC p{ margin:0; padding:5px 0; width:168px;}
.textarea{width:168px; height:53px;}
.paddSty{padding-bottom:10px;}

.borderTsty{border-top:1px solid #7a7f89; line-height:20px; padding-top:10px; padding-bottom:10px;}

 
.buttonSty02{ vertical-align:bottom;}
.paddleft{padding-left:35px;}
.paddleft1{padding-left:20px;}
.paddleft2{padding-left:30px;}
.paddleft3{padding-left:30px;}




.changeAdd{text-align:center;width:780px; margin:0 auto;}
.changeAdd ul{margin:14px 0 0 0;padding:0px; clear:left; padding-bottom:9px;*padding-bottom:14px; border-bottom:1px solid #dcdfe5; height:183px; text-align:left;border-bottom:none;}
 
.changeAdd .ulSty{border-bottom:none;margin:21px 0px -3px 0px;*margin:8px 0px 0px 0px;}
.changeAdd ul li{  padding:0px 0px 0px 30px; list-style:none; float:left; line-height:25px;height:183px;width:366px;*width:370px;}
 
.changeAdd ul .liSty{width:300px;padding-left:30px; border-left:#ccc 1px dashed;}


.divSty01{margin:69px 0 30px 0;}
.divSty02{padding-bottom:65px; line-height:24px; color:#666666; font-size:14px;}
.divSty03{margin:20px 0 60px 0;}
.divSty04{line-height:160%;padding:0 65px 0 255px;}

.submitdiv{border-bottom:1px solid #dcdfe5; border-bottom:none; margin-top:15px; padding-bottom:15px; padding-right:20px;}


.CardError{display:block; height:16px;clear:both; width:165px;text-align:center; color:#A10000;}
.Error{border:1px solid #A10000; background-color:#f5f5f5;padding:1px 4px 2px 4px;}
.Error1{border:1px solid #A10000; background-color:#f5f5f5;padding:1px;}
.Error2{border:1px solid #A10000; background-color:#f5f5f5;padding:2px;height:20px;*padding:4px 2px 1px 3px;}
.Error3{border:1px solid #A10000; background-color:#f5f5f5;padding:2px;height:20px;*padding:1px 1px 0px 2px;}

.righSty #Card_String{ line-height:180%; text-align:center; vertical-align:middle;}
.td_Transfe{text-align:left;margin-left:23px;*margin-left:7px; } 
.bankclass{display:none;text-align:left; padding-left:15px;*padding-left:30px;}
.cibbankclass{text-align:left; padding-left:15px;*padding-left:30px;}
#step_{ padding-top:17px;color:#999;padding-left:30px;}



.CompleteTxt{ display:block; padding-bottom:8px;}
.NameDiv{font-size:14px; margin:-12px 0 65px 248px; text-align:left; *margin-left:260px;}

#PaymentStatus{display:block; text-align:center; padding-bottom:60px;}

.shoppingtabletrbgcolor{ background-color:#f9fdfd;}
#Label_ProductList table{ margin-top:14px;}

.errorstring{clear:both;margin-left:105px; height:22px;}
.letterSpac{letter-spacing:6px;}
.letterSpac1{margin-left:-6px;*margin-left:0px;}
/*ýý³ýý½*/
.addDivPage{ padding:0px 0px 6px 0px} 
.pagebtn{text-align:right;letter-spacing:2px;padding:0px 18px 0px 0px;*margin-right:4px;}
.current{color:#a10000;font-weight:bold;} 
.currenta{padding-right:2px;padding-left:2px;}
.countFont{color:#666;padding-left:10px;}
/*public start*/
.p1 {letter-spacing: 1mm}
.p2 {letter-spacing: 4mm;}
/*public end*/ 

.addbgcolor{ background:#7a7f89;}
.addTab2{margin:-2px 0 -3px -2px;}
.addTd1{vertical-align:top;width:60px;} 
.addTd2{margin-left:8px;}
.addFontCol{ color:#a10000;}
.addSpanSty{margin:auto;cursor:pointer; display:block; width:200px; clear:both;} 
.addDeleteSty{height:10px;padding:13px 0px 5px 0px;*padding:13px 0px 5px 0px;}
.hr1{width:95%;border:1px solid #dcdfe5;*margin-top:-7px;}
.hr2{width:95%;border:0px solid #dcdfe5; height:11px;}
.sty006{padding-left:28px;}
.tabSty01{ border:#ccc 1px solid; border-collapse:collapse;}
.tabSty01 td{ border:#ccc 1px solid;}
/*shopping_address end*/

/*Shopping_DeliveryType start*/
.typeH2{margin-left:30px;}
.typeTd1{text-align:left;vertical-align:top;}
.typeSpan1{margin-left:21px;*margin-left:36px;}
.typeTd2{height:38;text-align:center;}
.typeInput{margin-bottom:45px;margin-top:5px;}
.typeBottom{height:30px;*height:22px;}
/*Shopping_DeliveryType end*/

/*Shopping_payType start*/
.pTypeF{}
.pTypeSpans{margin-left:620px;margin-left:622px;*margin-left:626px; }
.pTypeSpan2{display:block; height:15px; margin-left:75px; width:85px; padding:2px;} 
/*Shopping_payType end*/

/*Shopping_DeliveryTime start*/
.sTtimeSpans1{margin-left:277px;*margin-left:274px; }
.sTtimeSpans2{margin-left:631px;*margin-left:638px; }
.errTimeLi{ clear:both;padding-left:25px;} 
/*Shopping_DeliveryTime end*/

/*Shopping_Consignee.ascx start*/
.conLi1{clear:both;padding:7px 0 5px 1px;*padding:0px 0 5px 1px;}
.conLi2{clear:both;padding:3px 0 8px 0;}
.conLi2 span{clear:both;margin-left:106px;}
.conLi3{clear:both;padding:0 0 3px 1px;}
.conLi4{clear:both;padding:7px 0 4px 1px;*padding:0 0 4px 1px;}
.conLi5{clear:both;padding:6px 0 5px 1px;*padding:0 0 5px 1px;}
.conLi6{clear:both;padding:7px 0 3px 1px;*padding:3px 0 3px 1px;}
.conLi6 span{clear:both;margin-left:105px;}
.conLi7{ text-align:center;}
.conLi7 input{clear:both;height:25px;width:130px;border:0; margin:auto;}
.shoppingTd{text-align:center;}
/*Shopping_Consignee.ascx end*/
.Consignee1{clear:both;padding:7px 0 5px 1px;*padding:0px 0 5px 1px;}
.Consignee2{clear:both;padding:3px 0 8px 0;}
.Consignee3{clear:both;padding:0 0 3px 1px;}
.Consignee4{clear:both;padding:7px 0 4px 1px;*padding:0 0 4px 1px;}
.Consignee5{clear:both;padding:6px 0 5px 1px;*padding:0 0 5px 1px;}
.Consignee6{clear:both;padding:7px 0 3px 1px;*padding:3px 0 3px 1px;}
.Consignee7{clear:both;margin-left:105px;}
.Consignee8{padding-left:16px;} 
.Consignee9{clear:both;height:250px;width:130px;border-style:none;}
.sty008{ margin:0;padding:4px 30px 0px 0px;}



.blank0{clear:both;display:block;font-size:1px;visibility:hidden;height:0;line-height:0;margin-top:0px;}
.blank5{clear:both;display:block;font-size:1px;overflow:hidden;height:5px;}
.blank8{clear:both;display:block;font-size:1px;overflow:hidden;height:8px;}
.blank10{clear:both;display:block;font-size:1px;overflow:hidden;height:10px;}
.blank12{clear:both;display:block;font-size:1px;overflow:hidden;height:12px;}
.blank15{clear:both;display:block;font-size:1px;overflow:hidden;height:15px;}
.blank20{clear:both;display:block;font-size:1px;overflow:hidden;height:20px;}
.blank25{clear:both;display:block;font-size:1px;overflow:hidden;height:25px;}

.dingdan{width:800px;margin:0 auto;}
.dingdan p{margin:0px;padding:0px;}
.dingdan .nowPayArea p{text-align:left;}
.shoppingstepcontrol{color:#a10000;font-weight:bold;}
.listArea{width:798px;border:1px solid #dfdee3;margin:0 auto; }
.dingdanHead{padding:30px 0 10px 0;text-align:center; }
.dingdanList{width:734px;margin:0 auto;}
.listHead{border-right:1px solid #d8d8d8; }
.listHead ul{padding:0px;margin:0px;}
.listHead li{line-height:24px;background:#d8d8d8;border-right:1px solid #fff;  float:left;display:inline;text-align:center;  }
.listCon li{background:#fff;border-right:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;  }
.listCon li span{color:#a10000;}
.nowPayArea{width:742px;margin:0 auto;margin-top:50px;border-top:1px solid #7f8084;position:relative;  }
.nowPayArea02{width:742px;margin:0 auto;margin-top:30px;border-top:1px solid #7f8084;position:relative;  }
.nowPayArea p,.nowPayArea02{line-height:18px;}
.nowPayArea p strong,.nowPayArea02 p strong{color:#a10000;}
.myAccount{margin-top:10px;margin-bottom:40px;text-align:right;}
.myAccount strong{color:#404040;}
.btnNowPay{border:none;cursor:pointer;position:absolute;left:366px;top:50px; }
.payUser p{text-indent:32px;line-height:20px;}
.CompleteWord{color:#666666;}
.liheight{ width:182px;}
.liheight_{ width:142px;}

.payLoginWindows{width:234px;background:#fff;border:1px solid #bebebe;}
.payLoginWindows p{width:100%;text-align: center;}
.payLoginWindows input{width:84px;height:23px;margin-left:75px;color:#fff;text-align:center;border:0;cursor:pointer;background:url(/images/shopping/quxiaoYanzheng.gif) no-repeat;}
