
/*------------------------------------------------mid--------------------*/
#mid{
	width:780px;
	float:left;
	padding:0;
}
#mid1{
	background:url(../images/green_1px.gif) 0 0 repeat-x #768C19;
	width:489px;
	color:#000;
}
#mid1 p.midTop{
	display:block;
	background:url(../images/mid_top.gif) 0 0 no-repeat;
	width:489px;
	height:23px;
	font-size:0;
	line-height:0;
}
#mid2{
	background:url(../images/estimation_pic.gif) right bottom no-repeat;
	padding:0;
}
#mid2 h2{
	display:block;
	background:url(../images/what_our_policy.gif) 0 0 no-repeat;
	width:157px;
	height:64px;
	margin:0 0 15px 22px;
	line-height:0;
	font-size:0;
}
#mid2 h3{
	
	color:#fff;
	margin:0 0 12px 22px;
}
#mid2 ul{
	width:195px;
	padding:0 0 18px 22px;
	margin:0;
	font-size:0;
	line-height:0;
}
#mid2 ul li{
	padding:0;
	margin:0;
	line-height:0;
	font-size:0;
	height:18px;
}
#mid2 ul li a{
	display:block;
	background:url(../images/arrow.gif) 0 6px no-repeat;
	padding:0 0 0 11px;
	color:#FCF881;
	background-color:inherit;
	text-decoration:none;
}
#mid2 ul li a:hover{
	color:#fff;
	background-color:#7B921A;
}
#mid2 p.midBot{
	display:block;
	background:url(../images/mid_bot.gif) left top no-repeat #607211;
	height:23px;
	width:226px;
	margin:0;
	padding:0 0 0 23px;
	color:#FFC547;
	font-size:0;
	line-height:0;
}
#mid2 p.midBot a{
	background:url(../images/read_more_bg.gif) 0 0 repeat-x;
	width:134px;
	height:22px;
	border-left:#000 solid 1px;
	border-right:#000 solid 1px;
	color:#FFC547;
	text-decoration:none;
	text-align:center;
	background-color:inherit;
	display:block;
}
#mid2 p.midBot a:hover{
	color:#fff;
	background-color:inherit;
}
#testMain{
	background:url(../images/test_bg_1px.gif) 0 0 repeat-x #ffeab7;
	color:#282828;
	width:780px;
}
#testMain p.testtop{
	display:block;
	width:766px;
	height:23px;
	font-size:0;
	line-height:0;
}
#testMain p.testBot{
	display:block;
	width:766px;
	height:32px;
	font-size:0;
	line-height:0;
	background-image: url(../images/test_bot1.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#test{
	width:764px;
}
#test h2{
	display:block;
	width:740px;
	height:24px;
	background:url(../images/test_div.gif) 0 0 repeat-x;
	margin:0 0 8px 22px;
	line-height:0;
	font-size:0;
	padding:0;
	font-size:0;
	line-height:0;
}
#test h2 span{
	color:#9A0124;
	background-color:#FCFABB;
	padding:0;
	margin:0;
	height:24px;
}
#test h3{
	display:block;
	width:740px;
	height:43px;
	color:#677C10;
	background-color:inherit;
	margin:0;
	padding:0 0 0 22px;
	text-decoration:underline;
}
#test p.testTxt1{
	display:block;
	width:700px;
	background:url(../images/coma.gif) 23px 0 no-repeat;
	padding:0 0 0 49px;
	margin:0 0 15px 0;
}
#test p.testTxt1 img{
	margin:0 0 0 10px;
	line-height:0;
	font-size:0;
}
#test p.yellow{
	display:block;
	width:210px;
	height:19px;
	background-color:#EEECA8;
	color:#000;
	margin:0 0 7px 22px;
	padding:0 0 0 224px;
	font-size:0;
	line-height:0;
}
#test p.yellow span.date2{
	display:block;
	background:url(../images/date_bg.gif) 0 0 no-repeat;
	width:130px;
	height:19px;
	color:#0E5092;
	background-color:#ffeab7;
	text-align:center;
	margin:0 6px 0 0;
	float:left;
}
#test p.yellow span.author2{
	display:block;
	background:url(../images/author_bg.gif) 0 0 no-repeat;
	width:74px;
	height:19px;
	color:#D47800;
	background-color:#ffeab7;
	text-align:center;
	margin:0;
	float:left;
}
#test p.headerTxt{
	display:block;
	width:720px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 23px;
	
}
#test p.headerTxt a{
	color:#084482;
	background-color:inherit;
	text-decoration:underline;
}
#test p.headerTxt a:hover{
	text-decoration:none;
}
/*------------------------------------------------mid--------------------*/

/*------------------------------------------------right--------------------*/
#right{
	width:259px;
	float:right;
}
#newsletter{
	width:243px;
	background:url(../images/newsletter_box.gif) 0 0 no-repeat;
	height:114px;
	padding:8px 8px 0 8px;
	margin:0 0 12px 0;
}
#newsletter h2{
	display:block;
	width:198px;
	height:35px;
	background:url(../images/newsletter_bg.gif) 0 0 no-repeat;
	padding:0 0 0 45px;
	color:#000;
	background-color:inherit;
}
#newsletter form{
	width:235px;
	padding:11px 0 0 0;
	margin:0 0 12px 0;
}
#newsletter form input.txtBox2{
	width:224px;
	height:19px;
	border-left:#808080 solid 1px;
	border-right:#D4D0C8 solid 1px;
	border-top:#808080 solid 1px;
	border-bottom:#D4D0C8 solid 1px;
	padding:0 0 0 9px;
	background-color:#fff;
	color:#000;
	margin:0 0 10px 0;
	float:left;
}
#newsletter form input.signup{
	background:url(../images/btn_signup.gif) 0 0 no-repeat;
	width:50px;
	height:21px;
	float:right;
	color:#fff;
	background-color:#F7F4A1;
	text-transform:uppercase;
	border:none;
	cursor:pointer;
}
#right ul.link1{
	width:176px;
	padding:0 0 52px 0;
	margin:0;
}
#right ul.link1 li{
	padding:0;
	margin:0;
	line-height:0;
	font-size:0;
}
#right ul.link1 li a.sub{
	display:block;
	background:url(../images/subscribe_bg.gif) 0 0 no-repeat;
	width:153px;
	height:22px;
	padding:0 0 0 23px;
	color:#175EA5;
	background-color:inherit;
	text-decoration:none;
	margin:0 0 4px 0;
}
#right ul.link1 li a.sub:hover{
	color:#000;
	background-color:inherit;
}
#right ul.link1 li a.reg{
	display:block;
	background:url(../images/registration_bg.gif) 0 0 no-repeat;
	width:171px;
	height:22px;
	padding:0 0 0 5px;
	color:#175EA5;
	background-color:inherit;
	text-decoration:none;
	margin:0;
}
#right ul.link1 li a.reg:hover{
	color:#000;
	background-color:inherit;
	
}
#right ul.link1 li a.reg span{
	color:#fff;
	background-color:inherit;
	font-weight:bold;
	margin:0 11px 0 6px;
}
#right ul.link1 li a.reg:hover span{
	color:#000;
	background-color:inherit;
	
}
#right h2.event{
	display:block;
	width:209px;
	height:51px;
	background:url(../images/latest_event_pic.gif) 0 0 no-repeat;
	padding:0 0 0 50px;
	color:#000;
	background-color:inherit;
	margin:0 0 15px 0;
	float:left;
}
#right h2.event span{
	display:block;
	background:url(../images/event_bg.gif) 0 0 no-repeat;
	width:194px;
	height:19px;
	padding:0 0 0 15px;
	color:#fff;
	background-color:inherit;
	margin:5px 0 0 0;
}
#right p.eventTxt{
	display:block;
	width:235px;
	color:#7B782E;
	background-color:inherit;
	padding:0 0 0 9px;
	float:left;
}
#right p.eventTxt span{
	color:#566A02;
	background-color:inherit;
}
#right p.eventTxt a{
	display:block;
	background:url(../images/more_bg.gif) 0 0 no-repeat;
	width:42px;
	height:18px;
	color:#175EA5;
	background-color:inherit;
	float:right;
	margin:0 0 12px 0;
	padding:0 0 0 20px;
	text-decoration:none;
}
#right p.eventTxt a:hover{
	color:#000;
	background-color:inherit;
}
#right h2.pro{
	display:block;
	width:209px;
	height:56px;
	background:url(../images/project_icon.gif) 0 0 no-repeat;
	padding:0 0 0 50px;
	color:#000;
	background-color:inherit;
	margin:0 0 15px 0;
	float:left;
}
#right h2.pro span{
	display:block;
	background:url(../images/event_bg.gif) 0 0 no-repeat;
	width:194px;
	height:19px;
	padding:0 0 0 15px;
	color:#fff;
	background-color:inherit;
	margin:5px 0 0 0;
}
#right ul.link2{
	width:259px;
	padding:0;
	margin:0;
	float:left;
}
#right ul.link2 li{
	background:url(../images/right_div.gif) left bottom repeat-x;
	height:20px;
	line-height:0;
	font-size:0;
}
#right ul.link2 li.last{
	background-image:none;
}

#right ul.link2 li a{
	display:block;
	width:232px;
	height:19px;
	background:url(../images/arrow_green.gif) 12px 5px no-repeat;
	padding:0 0 0 27px;
	text-decoration:none;
	color:#104A85;
	background-color:inherit;
}
#right ul.link2 li a:hover{
	color:#104A85;
	background-color:#F3F09A;
}
.pro_price{ width:760px; margin-left:8px; margin:0;}
.pro_price dl{margin:0; padding:0;}
.pro_price dl dt{ width:392px; float:left; margin:0; padding:0; text-align:center;}
.pro_price dl dd{ width:330px; float:left;margin:0;padding:0;}
.pro_detail{ clear:both;}
.pro_detail h3{ text-align:center; color:#c00; margin-top:15px; height:16px; line-height:16px; display:block;border-top:#ccc 1px solid; margin-left:20px;margin-right:20px; padding-top:8px;}
.pro_detail_con{padding:20px; padding-top:0;}
.pro_detail_con p{margin-top:10px;writing-mode:tb-rl;}
/*------------------------------------------------right--------------------*/

/*------------------------------------------------body--------------------*/
/*-----------------------------------------------------------------Innerpage-----------------------------------------------------------------------------------------*/
#innercontainer
				{
					width:750px;
					height:670px;
					background-color:#fff;
					float:left;
					background-image:url(../images/contentbg.jpg);
					background-repeat:repeat;
					border:dotted;
					border-width:1px;
					color:#ccc978;
				}
				
#heddingblank 
		{
		 width:700px;
		 height:141px;
		 float:left;
		 margin-left:20px;
		 margin-top:20px;
		}

#heddingicon 
		{
		 width:132px;
		 height:141px;
		 float:left;
		 background-image:url(../images/services.gif);
		}

#hedding 
		{
		 font-size:33pt;
		 color:#c9c672;
		 float:left;
		 width:480px;
		 height:100px;
		 padding-top:30px;
		}
#innercontenttext
				{
					font-size:12pt;
					color:#666;
					width:500px;
					height:60px;
					margin-left:160px;
					margin-top:40px;
				}
#innercontenttext002
				{
					
					font-size:12pt;
					color:#666;
					width:500px;
					height:60px;
					margin-left:160px;
					margin-top:40px;
				}

#innercontenttextbottom
				{
					
					font-size:12px;
					color:#666;
					width:700px;
					height:auto;
					margin-left:30px;

				}

/*-----------------------------------------------------------------Innerpage-----------------------------------------------------------------------------------------*/
/*------------------------------------------------Contact--------------------*/

.linkpopup {
	position: relative;
	font-size: 11px;
	color: #666600;
	height: 18px;
	width: 250px;
}

.linkpopup span {
 background-color: #ccc;
 border: 1px solid #000;
 display: block;
 left: 0;
 padding: 0.25em;
 position: absolute;
 top: -1.75em;
}

.linkpopup:link span,
.linkpopup:visited span {
 visibility: hidden;
}

.linkpopup:hover span,
.linkpopup:focus span,
.linkpopup:active span {
	color: #000;
	text-decoration: none;
	visibility: visible;
	border: 1px solid #000;
	background-color: #E6E9CF;
}
.linkpopupmessagebox {
	position: relative;
	font-size: 11px;
	color: #1D859B;
	height: 170px;
	width: 310px;
}

.linkpopupmessagebox span {
 background-color: #ccc;
 border: 1px solid #000;
 display: block;
 left: 0;
 padding: 0.25em;
 position: absolute;
 top: -1.75em;
}

.linkpopupmessagebox:link span,
.linkpopupmessagebox:visited span {
 visibility: hidden;
}

.linkpopupmessagebox:hover span,
.linkpopupmessagebox:focus span,
.linkpopupmessagebox:active span {
 color: #000;
 text-decoration: none;
 visibility: visible;
}
/*------------------------------------------------Email--------------------*/

.linkpopupemail {
	position: relative;
	font-size: 11px;
	color: #1D859B;
	height: 18px;
	width: 200px;
}

.linkpopupemail span {
 background-color: #ccc;
 border: 1px solid #000;
 display: block;
 left: 0;
 padding: 0.25em;
 position: absolute;
 top: -1.75em;
}

.linkpopupemail:link span,
.linkpopupemail:visited span {
 visibility: hidden;
}

.linkpopupemail:hover span,
.linkpopupemail:focus span,
.linkpopupemail:active span {
	color: #000;
	text-decoration: none;
	visibility: visible;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}
/*------------------------------------------------Email--------------------*/
.contactTxt{
	display:block;
	width:600px;
	font-size:12px;
	line-height:20px;
	font-weight:normal;
	color:#646464;
	background-color:#FFF9E5;
	color:#5A5A5A;
	border:#D6CEB3 solid 1px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
}
.errortext {
	font-size: 10px;
	color: #FF0000;
}

.contactMain{
	width:650px;
	float:left;
	font-size: 11px;
	color: #000;
	border: 1px dotted #929F4B;
	background-color: #fff;
	height: 500px;
}
.bestcontactTxt2{
	width:100%;
	padding:0 0 20px 0;
	color:#363636;
	background-color:#fff;
	display:block;
	float:left;
}.contact_area {
	float: left;
	width: 650px;
	padding-left: 30px;
}
.contactformsubmit {
	font-size: 11px;
	color: #000;
	height: 20px;
	width: 50%;
	float: left;
	margin: 3px;
	padding: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
	position:absolute;
	left:119px;
}
/*------------------------------------------------Contact--------------------*/
.contactformfield {
	font-size: 11px;
	color: #000;
	height: 20px;
	width: 70%;
	float: left;
	margin: 3px;
	padding: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
}
.contactsubmit {
	font-size: 11px;
	color: #000;
	background-attachment: scroll;
	background-image: url(../images/submitbg.gif);
	background-repeat: repeat-x;
	background-position: center center;
	clip: rect(auto,auto,auto,auto);
	float: left;
	margin: 5px;
	padding: 5px;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	width: 500px;
	border: 1px solid #666600;
}

.contactformmessage {
	font-size: 11px;
	color: #000;
	height: 170px;
	width: 70%;
	float: left;
	margin: 3px;
	padding: 3px;
}
.contactbox {
	font-size: 11px;
	color: #000;
	border: 1px solid #CCCCCC;
	height: 18px;
}
.contactmessagebox {
	font-size: 11px;
	color: #000;
	border: 1px solid #CCCCCC;
	height: 170px;
}
.contacttextarea {
	font-size: 11px;
	color: #000;
	margin: 3px;
	padding: 3px;
}
.contacttext {
	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 100px;
	float: left;
	font-size: 11px;
	color: #000;
}
.contactsubmitbutton {
	font-size: 11px;
	color: #fff;
	background-attachment: fixed;
	background-image: url(../images/btn_login.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 18px;
	width: 55px;
}

.contacttextleft {
	font-size: 11px;
	color: #000;
	float: left;
	width: 540px;
}
.contactindicatestext {
	font-size: 11px;
	color: #000;
	margin: 3px;
	padding: 3px;
	height: 20px;
	width: 550px;
	float: left;
}

.star {
	font-size: 11px;
	color: #FF0000;
	margin: 3px;
	padding: 3px;
	height: 5px;
	width: 5px;
}


.contacterrortext {
	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 10px;
	float: left;
	font-size: 11px;
	color: #000;
}
.buttonbg {
	background-attachment: scroll;
	background-image: url(../images/buttonbg.gif);
	background-repeat: repeat-x;
	background-position: center center;
	border: 1px solid #FF9900;
	height: 21px;
	color: #fff;
}

/*------------------------------------------------Contact--------------------*/
.submitbutton
 {
	font-size: 11px;
	color: #fff;
	background-attachment: scroll;
	background-image: url(../images/read_more_bg.gif);
	background-repeat: no-repeat;
	background-position: center center;
	clip: rect(auto,auto,auto,auto);
	float: left;
	margin: 5px;
	padding: 5px;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	width: 50px;
}
.submittext {
	height: 30px;
	width: 550px;
}

#submitbutton a.more{
	background:url(../images/more_bg.gif) 0 0 no-repeat;
	float:right;
	width:57px;
	height:18px;
	color:#1C0206;
	background-color:inherit;
	text-decoration:none;
	text-align:center;
	margin:0;
}
#submitbutton a.more:hover{
	color:#6B1420;
	background-color:inherit;
}
.subbtn {
	font-size: 11px;
	color: #000;
	background-attachment: scroll;
	background-image: url(../images/submit.png);
	background-repeat: repeat-x;
	background-position: center center;
	border: 1px none #E6E9CF;
	margin: 2px;
	padding: 2px;
	height: 31px;
	width: 94px;
}
/*------------------------------------------------Textboxon Email--------------------*/

.borderEffect
{
background-color:#FFFFCC;
color:#7A8639;
margin:0px;
padding:0px;
border:1px solid #FFCC00;
}
.borderEffect:hover
{
background-color:#FFCC89;
color:#A05A3D;
margin:0px;
padding:0px;
border:1px solid #A05A3D;
}
/*------------------------------------------------Textbox on Email--------------------*/
/*------------------------------------------------Textbox --------------------*/

.textboxEffect
{
	background-color:#fff;
	color:#000;
	border:1px solid #999;
	height: 18px;
	width: 250px;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.textboxEffect:hover
{
background-color:#fff;
color:#929F4B;
margin:0px;
padding:0px;
border:1px solid #7A8639;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Textbox --------------------*/
/*------------------------------------------------Textboxdropdown --------------------*/

.dropdownEffect
{
	background-color:#fff;
	color:#000;
	border:1px solid #999;
	height: 18px;
	width: 262px;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.dropdownEffect:hover
{
background-color:#fff;
color:#929F4B;
margin:0px;
padding:0px;
border:1px solid #7A8639;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Textboxdropdown --------------------*/
/*------------------------------------------------Massagebox --------------------*/

.MassageboxEffect
{
	background-color:#fff;
	color:#000;
	border:1px solid #999;
	height: 170px;
	width: 350px;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.MassageboxEffect:hover
{
background-color:#fff;
color:#929F4B;
margin:0px;
padding:0px;
border:1px solid #7A8639;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Massagebox --------------------*/
.contactdropdownformfield {
	font-size: 11px;
	color: #000;
	height: 20px;
	width: 68%;
	float: left;
	margin: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
}
.submitbuttonarea {
	margin: 5px;
	float: left;
	height: 50px;
	width: 300px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 110px;
}
