/*#Login{width:971px; font-size:12px; color:#666; border:1px solid #dcdfe5; margin:0; padding-top:36px;}
#Login h1{width:820px; border-bottom:1px solid #565662; margin:0 auto; padding:0; margin-bottom:25px;}
#Login input{width:217px; height:19px; border:1px solid #a5afc3;}
#Login .inputSty01{width:106px; height:19px; border:1px solid #a5afc3;}
#Login .lineJL{margin:0px 0 59px 0;}*/
.sty01{padding-bottom:2px;}
.sty02{padding-bottom:2px; text-align:left;}
.sty03{padding-top:5px;}
.sty04{color:#999;}
.sty05{color:#333;}

.blank15{clear:both;display:block;font-size:1px;overflow:hidden;height:15px;}
.blank20{clear:both;display:block;font-size:1px;overflow:hidden;height:20px;}
.regSetTabBox{width:343px;}
.regSetTabMenu{width:343px;height:24px;border-bottom:1px solid #a10000;}
#one1,#one2{margin:0px;padding:0px;width:74px;height:24px;line-height:24px;margin-right:5px;color:#949494;float:left;display:inline;text-align:center; background:url(../images/menuBg.gif) no-repeat;cursor:pointer; }
#one1.hover,#one2.hover{background:url(../images/menuHover.gif) no-repeat;color:#fff;}
.regSetTabCon{background:#fafafa; }
.FTextArea span,.FTextArea input{float:left;display:inline; }
.FTextArea span{width:84px;line-height:22px;text-align:right;display:block; }
.FTextArea input{width:202px;height:20px;line-height:20px;border:1px solid #a5afc3; }
.btnReg button{width:80px;height:25px;margin-left:84px;border:none;cursor:pointer;background:url(../images/btnReg.gif) no-repeat;float:left;display:inline; }
.btnLogin {width:80px;height:25px;margin-left:84px;border:none;cursor:pointer;background:url(../images/btnReg.gif) no-repeat;float:left;display:inline; }
.btnReg span{margin-left:12px;padding-top:12px;float:left;display:inline; }
.tishiHead{margin-bottom:5px;font-size:12px;font-weight:bold;color:#a10000;}
.tishiArea li{line-height:22px;}




#dl{ width:800px; font-size:12px; color:#999; margin:15px 0 0 0;}
#dl h1{margin:0; padding-bottom:15px;}
#dl .dl, .zc{width:385px; width:383px !important; height:418px; *+height:428px; _height:435px; border:1px solid #dcdfe5;}
#dl .dl{clear:left; float:left;}
#dl .zc{float:right;}
#dl h2{margin:0; border-bottom:1px solid #565662; width:343px; padding-top:20px; margin-bottom:5px;}
#dl input{width:200px; height:19px; border:1px solid #a5afc3; line-height:19px; }

	.dlC{width:343px; margin:0 auto; margin-bottom:30px;}
	.dlC p{ margin:0; padding-left:65px; }
	.dlC .sty01{ padding-bottom:5px; padding-top:20px; color:#999;}
	.dlC .sty02{ padding-bottom:20px; color:#666;}
	.dlC .sty03{ padding-bottom:8px; color:#666;}
	.dlC .sty04{ padding-left:113px; padding-bottom:23px; color:#333333;}
	.dlC .sty05{ clear:left;  padding-left:113px;}	
	.dlC .sty06{ clear:left; width:280px; margin-top:70px;*+margin-top:81px; _margin-top:85px;}
	.dlC .sty07{ color:#333333;}
	
	.dlC ul{margin:0px; padding:0px;}
	.dlC li{ list-style:none; margin:0;  width:340px;}
	.edlC li{padding:0 0 10px 0;}
	.dlC .sty08{ padding-top:0px; color:#666;}
	.dlC .sty088{ padding-top:0px; color:#666;}
	.dlC .sty09{ text-indent:0px; text-align:left !important; text-align:right; padding-left:140px !important; margin-left:0; line-height:18px;}
	.dlC .sty10{ padding-top:6px;}
	.dlC .sty10 input{ padding-right:122px;}
	.dlC .pwdli span{ margin:0px; float:left; padding-left:137px; line-height:17px;}
	.dlC .emailli{ height:45px;}
	.dlC .newusername{ height:25px;}
	
	.Reginput{display:block; height:16px; vertical-align:middle; text-align:center;margin-top:2px;line-height:140%;}
	.Error{border:1px solid #A10000; background-color:#f5f5f5;}
	.errorword{display:block; height:16px;margin-top:2px;clear:both; width:200px; margin:0 0 5px 114px;text-align:center; line-height:140%;}
	.rihtReg{border:1px solid #08a63a; background-color:#f5f5f5; color:#08a63a;}


